<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/222">
        <classes>
            <class name="canaryTests.alphaNumericTest">
                <methods>
                    <include name="shouldTakeUserInput"/>
                    <include name="sortString"/>
                </methods>
            </class>
            <class name="canaryTests.bubbleSortTest">
                <methods>
                    <include name="creatingArray"/>
                    <include name="bubbleSort"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>